MQTT_PORT=1883
MQTT_PASS_DEVICE=replace
MQTT_PASS_SERVICE=replace
ZONE_INFO="America/Fortaleza"
EDGE_API_PORT=8080
EDGE_SHARED_AUTH=replace
MAX_FRAME_QUEUE=100
MAX_EVENTOS_PRESENCA_REDIS=50000
NODE_ID=edge-node
AUTOPONTO_API_URL=
AUTOPONTO_API_TOKEN=
INTERSCITY_API_URL=https://cidadesinteligentes.lsdi.ufma.br/interscity_lh
RESOURCE_ADAPTOR_PATH=/adaptor/resources
INTERSCITY_QUEUE_MAX=1000
INTERSCITY_WORKERS=1
INTERSCITY_TIMEOUT_SECONDS=5
METRICAS_AVG_US_PATH=/data/logs/metricas_avg_us.txt
METRICAS_AVG_US_DISPOSITIVO_CODIGO=
FACE_SCORE_THRESHOLD=0.8
FACE_MATCH_THRESHOLD=0.363
LOG_LEVEL="INFO" # INFO, DEBUG, WARNING
