MQTT_PORT=1883
MQTT_PASS_DEVICE=replace
MQTT_PASS_SERVICE=replace
ZONE_INFO="America/Fortaleza"
EDGE_API_PORT=8080
EDGE_SHARED_AUTH=replace
MAX_FRAME_QUEUE=100
EDGE_DATA_DIR=./data/bd
NODE_ID=edge-node
MAIN_API_URL=
MAIN_API_TOKEN=
SYNC_INTERVAL_SECONDS=60
FACE_SCORE_THRESHOLD=0.8
FACE_MATCH_THRESHOLD=0.363
LOG_LEVEL="INFO" # INFO, DEBUG, WARNING
