.env
.env.*
!.env.example
get-docker.sh

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.pytest_cache

.agents
.codex

# =========================
# VENV
# =========================
.venv/
venv/

# DATA
data/**/*
!data/**/
!data/models/.gitkeep

# temp
embeddings_mock
data/debug

# =========================
# DOCKER
# =========================
docker-compose.override.yml

# =========================
# MOSQUITTO / REDIS
# =========================
infra/mosquitto/passwd

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/